.wrapped-wrapper {
    font: 14px sans-serif;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.welcome-text {
    height: fit-content;
}