main {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

.rubik-font {
  font-family: "Rubik", sans-serif;
}

body[data-nav="true"]>main {
  transform: translateY(-50%);
}

nav {
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: 8vh;
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(70%) scale(0.9);
  transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

body[data-nav="true"]>nav>#nav-links {
  transform: translateY(0%) scale(1);
}

#nav-links>.nav-link {
  text-decoration: none;
}

#nav-links>.nav-link>.nav-link-label {
  color: white;
  font-size: 1.25rem;
  margin: 0rem;
  text-transform: uppercase;
}

#nav-links>.nav-link>.nav-link-image {
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  object-fit: cover;
}

#nav-toggle {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  background-color: rgb(60, 72, 240);
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.96);
}

body[data-nav="true"]>#nav-toggle {
  background-color: rgb(17, 46, 90);
}

body:not([data-nav="true"])>#nav-toggle:hover>.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#nav-toggle>i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: rgb(246, 231, 224);
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

body[data-nav="true"]>#nav-toggle>.close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 1200px) {
  #nav-links {
    justify-content: center;
    height: 90vh;
    margin-top: 0;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
  }

  #nav-links img {
    width: 35vw;
  }

  body[data-nav="true"]>main {
    transform: translateY(-120%);
  }

  nav {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  #nav-links img {
    max-height: 30vw;
    width: 60vw;
  }
}

@media screen and (min-width: 1200px) {
  #nav-links img {
    height: 30vh;
  }

  nav {
    margin-bottom: 2rem;
  }
}